[Desktop Entry]
Version=1.0
Name=Chromium Nightly Builds
GenericName=Web Browser
Exec=/usr/lib/chromium/chrome %U
Terminal=false
Type=Application
Icon=chromium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
